<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Clothing Application</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link id="link" type="text/css" rel="stylesheet" />

</head>

<body>

<!-- Navigation -->
<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">404
        <small>Page Not Found</small>
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html">Home</a>
        </li>
        <li class="breadcrumb-item active">404 Error</li>
    </ol>

    <div class="jumbotron">
        <h1 class="display-1">404</h1>
        <p>Oops! Something went wrong. Try one of these links to make it back to the application!:</p>
        <ul>
            <li>
                <a href="/">Login</a>
            </li>
            <li>
                <a href="about.html">About</a>
            </li>
            <li>
                <a href="weather.html">Weather</a>
            </li>
            <li>
                <a href="contact.html">Contact</a>
            </li>
        </ul>
    </div>
    <!-- /.jumbotron -->

</div>

<div th:insert="footer"></div>
</body>

</html>
