<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Clothing Application</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link id="link" type="text/css" rel="stylesheet" />

</head>

<body>

<!-- Navigation -->
<div th:insert="nav"></div>

<!-- Page Content -->
<div class="container">

    <h1 class="my-4">The Clothing Application!</h1>

    <form th:action="@{/saveClothes}" th:object="${clothesDto}">
        <table border="1" width="90%" align="center" cellpadding="5">
            <tr>
                <td class="fheading"  colspan="4">Clothes Form</td>
            </tr>

            <tr class="hidden">
                <td>Owner ID</td>
                <td>
                    <input type="text" th:field="*{ownerid}" readonly="readonly"/>
                </td>
            </tr>
            <div class="col-md-2"></div>
            <tr>
                <div class="col-md-4">
                <td>Type</td>
                <td>
                    <div class="clothesTypeDropdown">
                        <select class="form-control" id="clothesTypeDropdown" th:field="*{type}" required>
                            <option class="toUppercase" th:each="clothingType : ${clothingType}" th:value="${clothingType}" th:text="${clothingType}"></option>
                        </select>
                        <input type="text" id="val">
                        <span id="buttonInLine">
                        <button class="btn btn-primary btn-sm button" id="addButton">Add</button>
                        </span>
                    </div>
                </td>
                </div>
                <div class="col-md-4">
                <td>Color</td>
                <td>
                    <input class="toUppercase" type="text" th:field="*{color}" required/>
                </td>
                </div>
            </tr>
            <div class="col-md-2"></div>
            <div class="col-md-2"></div>
            <tr>
                <div class="col-md-4">
                <td>Formal</td>
                <td>
                    <div class="clothesFormalDropdown">
                        <select class="form-control" th:field="*{formal}" required>
                            <option value="True">True</option>
                            <option value="False">False</option>
                        </select>
                    </div>
                </td>
                </div>
                <div class="col-md-4">
                <td>Min Temp</td>
                <td>
                    <input type="number" pattern="[-+]?[0-9]" th:field="*{mintemp}" required/>
                </td>
                </div>
            </tr>
            <div class="col-md-2"></div>
            <div class="col-md-2"></div>
            <tr>
                <div class="col-md-4">
                <td>Max Temp</td>
                <td>
                    <input type="number" pattern="[-+]?[0-9]" th:field="*{maxtemp}" required/>
                </td>
                </div>
                <div class="col-md-4">
                <td>Last Worn</td>
                <td>
                    <input type="number" pattern="[-+]?[0-9]" th:field="*{lastworn}" value="0"/>
                </td>
                </div>
            </tr>
            <tr>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                <td>Clean</td>
                <td>
                    <div class="clothesCleanDropdown">
                        <select class="form-control" th:field="*{clean}">
                            <option class="toUppercase" value="True">True</option>
                            <option class="toUppercase" value="False">False</option>
                        </select>
                    </div>
                </td>
                </div>
                <div class="col-md-4"></div>
            </tr>
            <tr>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                <td colspan="4" align="center">
                    <button class="button btn btn-primary btn-sm button">Save</button>
                </td>
                </div>
                <div class="col-md-4"></div>
            </tr>

        </table>
    </form>
</div>
<!-- /.container -->
<div th:insert="footer"></div>
<script th:src="@{/scripts/dropDownSelect.js}"></script>
<script th:src="@{/scripts/capitalizeFields.js}"></script>
</body>

</html>