<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Clothes</title>
    <meta charset="UTF-8">
    <link id="link" type="text/css" rel="stylesheet" />
</head>
<body>

    <div th:insert="menu"></div>

<div class="main">

    <form th:action="@{/saveClothes}" th:object="${clothesDto}">
        <table border="1" width="90%" align="center" cellpadding="5">
            <tr>
                <td class="fheading"  colspan="4">Clothes Form</td>
            </tr>

            <tr>
                <td>Owner ID</td>
                <td>
                    <input type="text" th:field="*{ownerid}" readonly="readonly"/>
                </td>
            </tr>

            <tr>
                <td>Type</td>
                <td>
                    <div class="clothesTypeDropdown">
                        <select class="form-control" th:field="*{type}">
                            <option value="0">Type of Clothing</option>
                            <option th:each="clothingType : ${clothingType}" th:value="${clothingType}" th:text="${clothingType}"></option>
                        </select>
                    </div>
                </td>
                <td>Color</td>
                <td>
                    <input type="text" th:field="*{color}" />
                </td>
            </tr>
            <tr>
                <td>Formal</td>
                <td>
                    <div class="clothesTypeDropdown">
                        <select class="form-control" th:field="*{formal}">
                            <option value="False">False</option>
                            <option value="True">True</option>
                        </select>
                    </div>
                </td>
                <td>Min Temp</td>
                <td>
                    <input type="text" th:field="*{mintemp}"/>
                </td>
            </tr>
            <tr>
                <td>Max Temp</td>
                <td>
                    <input type="text" th:field="*{maxtemp}"/>
                </td>
                <td>Last Worn</td>
                <td>
                    <input type="text" th:field="*{lastworn}"/>
                </td>
                <td>Clean</td>
                <td>
                    <div class="clothesTypeDropdown">
                        <select class="form-control" th:field="*{clean}">
                            <option value="False">False</option>
                            <option value="True">True</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="4" align="center">
                    <button >Save</button>
                </td>
            </tr>

        </table>
    </form>
</div>
</body>
</html>
