<!-- Features Section -->
<div class="row">
    <div class="col-lg-6">
        <h2>Clothing Application Features</h2>
        <p>This application includes:</p>
        <ul>
            <li>
                <strong>Live Weather Updates</strong>
            </li>
            <li>An Interactive Closet Tracker</li>
            <li>List of Outfits Based on the Current Weather</li>
        </ul>
        <p>We're working hard to add new features to the application. Check back in to see what we've been up to!</p>
    </div>
    <div class="col-lg-6">
        <img class="img-fluid rounded" src="http://placehold.it/700x450" alt="">
    </div>
</div>
<!-- /.row -->