<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link id="link" type="text/css" rel="stylesheet" />
</head>
<body>
    <h1 id="homeMessage">Test Home Page 11/8/2019</h1>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Person ID</th>
            <th>Username</th>
            <th>Password</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="person : ${listPersons}">
            <td th:text="${person.id}">ID</td>
            <td th:text="${person.username}">Username</td>
            <td th:text="${person.password}">Password</td>
            <td>
                <a th:href="@{'/addPants/' + ${person.id}}">Add</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a th:href="@{'/listPants/' + ${person.id}}">List</a>
            </td>
        </tr>
        </tbody>

    </table>

</body>
</html>