<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Clothing Application</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link id="link" type="text/css" rel="stylesheet" />

</head>

<body>

<!-- Navigation -->
<div th:insert="nav"></div>

<!-- Page Content -->
<div class="container">

    <h1 class="my-4">The Clothing Application</h1>

    <hr>

    <h2>Clothing List</h2>

    <table class="table">
        <thead>
        <tr>
            <th class="noDisplay">ID</th>
            <th class="noDisplay">Owner ID</th>
            <th>Type</th>
            <th>Color</th>
            <th>Formal</th>
            <th>Min Temp</th>
            <th>Max Temp</th>
            <th>Last Worn</th>
            <th>Clean</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="clothesDto : ${list}">
            <td th:text="${clothesDto.clothesDtoId}" class="hidden">ID</td>
            <td th:text="${clothesDto.ownerid}" class="hidden">Owner ID</td>
            <td class="toUppercase" th:text="${clothesDto.type}">Type</td>
            <td class="toUppercase" th:text="${clothesDto.color}">Color</td>
            <td class="toUppercase" th:text="${clothesDto.formal}">Formal</td>
            <td th:text="${clothesDto.mintemp + '°F'}">Min Temp</td>
            <td th:text="${clothesDto.maxtemp + '°F'}">Max Temp</td>
            <td th:text="${clothesDto.lastworn}">Last Worn</td>
            <td class="toUppercase" th:text="${clothesDto.clean}">Clean</td>
            <td>
                <a th:href="@{'/editClothes/' + ${clothesDto.clothesDtoId}}">Edit</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a th:href="@{'/deleteClothes/' + ${clothesDto.clothesDtoId}}">Delete</a>
            </td>
        </tr>
        </tbody>

    </table>

</div>
<!-- /.container -->

<div th:insert="footer"></div>
<script th:src="@{/scripts/capitalizeFields.js}"></script>
</body>

</html>
