<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link id="link" type="text/css" rel="stylesheet" />
</head>
<body>

    <div th:insert="menu"></div>

    <h1 id="homeMessage">Test Home Page 11/8/2019</h1>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>ID</th>
            <th>Owner ID</th>
            <th>Type</th>
            <th>Color</th>
            <th>Formal</th>
            <th>Min Temp</th>
            <th>Max Temp</th>
            <th>Last Worn</th>
            <th>Clean</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="clothes : ${list}">
            <td th:text="${clothes.id}">ID</td>
            <td th:text="${clothes.ownerid}">Owner ID</td>
            <td th:text="${clothes.type}">Type</td>
            <td th:text="${clothes.color}">Color</td>
            <td th:text="${clothes.formal}">Formal</td>
            <td th:text="${clothes.mintemp}">Min Temp</td>
            <td th:text="${clothes.maxtemp}">Max Temp</td>
            <td th:text="${clothes.lastworn}">Last Worn</td>
            <td th:text="${clothes.clean}">Clean</td>
            <td>
                <a th:href="@{'/editClothes/' + ${clothes.id}}">Edit</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a th:href="@{'/deleteClothes/' + ${clothes.id}}">Delete</a>
            </td>
        </tr>
        </tbody>

    </table>



</body>
</html>