<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link id="link" type="text/css" rel="stylesheet" />
</head>
<body>

    <div th:insert="menu"></div>

    <h1 id="homeMessage">Test Home Page 11/8/2019</h1>
    <table border="1" align="center" cellpadding="10">
        <thead>
        <tr>
            <th class="noDisplay">ID</th>
            <th class="noDisplay">Owner ID</th>
            <th>Type</th>
            <th>Color</th>
            <th>Formal</th>
            <th>Min Temp</th>
            <th>Max Temp</th>
            <th>Last Worn</th>
            <th>Clean</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="clothesDto : ${list}">
            <td th:text="${clothesDto.clothesDtoId}" class="noDisplay">ID</td>
            <td th:text="${clothesDto.ownerid}" class="noDisplay">Owner ID</td>
            <td th:text="${clothesDto.type}">Type</td>
            <td th:text="${clothesDto.color}">Color</td>
            <td th:text="${clothesDto.formal}">Formal</td>
            <td th:text="${clothesDto.mintemp}">Min Temp</td>
            <td th:text="${clothesDto.maxtemp}">Max Temp</td>
            <td th:text="${clothesDto.lastworn}">Last Worn</td>
            <td th:text="${clothesDto.clean}">Clean</td>
            <td>
                <a th:href="@{'/editClothes/' + ${clothesDto.clothesDtoId}}">Edit</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a th:href="@{'/deleteClothes/' + ${clothesDto.clothesDtoId}}">Delete</a>
            </td>
        </tr>
        </tbody>

    </table>

</body>
</html>