<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Clothing Application</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link id="link" type="text/css" rel="stylesheet" />

</head>

<body>

<!-- Navigation -->
<div th:insert="nav"></div>

<!-- Page Content -->
<div class="container">

    <h1 class="my-4">Welcome to the Clothing Application!</h1>

    <form class="login-form" th:action="@{/home}" th:object="${loginDto}" method="post" name="loginForm">
        <table border="1" width="90%" align="center" cellpadding="5">
            <tr>
                <td class="fheading"  colspan="4">Login Form</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>
                    <input name="emailInput" type="text" th:field="*{email}"/>
                </td>
                <td>Password</td>
                <td>
                    <input type="password" th:field="*{password}"/>
                </td>
            </tr>
            <tr>
                <td colspan="4" align="center">
                    <button class="btn btn-primary btn-sm button" id="submitLogin">Enter</button>
                </td>
            </tr>

        </table>
    </form>


    <div th:insert="signupLink"></div>

</div>
<!-- /.container -->

<div th:insert="footer"></div>

</body>

</html>
