<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
    <link id="link" type="text/css" rel="stylesheet" />
</head>
<body>
<div class="main">

    <form th:action="@{/home}" th:object="${loginDto}">
        <table border="1" width="90%" align="center" cellpadding="5">
            <tr>
                <td class="fheading"  colspan="4">Login Form</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>
                    <input type="text" th:field="*{email}"/>
                </td>
                <td>Password</td>
                <td>
                    <input type="password" th:field="*{password}"/>
                </td>
            </tr>
            <tr>
                <td colspan="4" align="center">
                    <button type="submit">Enter</button>
                </td>
            </tr>

        </table>
    </form>
<div align="center" border="5">
    <a th:href="@{/signUp}">Sign Up Here!</a>

</div>
</div>
</body>
</html>
