<!--<div class="sidenav">-->

<!--    <div class="mheader">-->
<!--        Closet-->
<!--    </div>-->
<!--    <a th:href="@{'/listClothes/' + ${persons.id}}">List All Clothes</a>-->

<!--    <div class="mheader">-->
<!--        Institute-->
<!--    </div>-->

<!--    <a th:href="@{'/listClothes/' + ${persons.id}}">Do Something Else</a>-->
<!--    <a th:href="@{/}">Do another thing</a>-->

<!--    <div class="mheader">-->
<!--        Log Out-->
<!--    </div>-->
<!--    <a th:href="@{/}">Log Out</a>-->

<!--</div>-->

