<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Clothing Application</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link id="link" type="text/css" rel="stylesheet" />

</head>

<body>

<!-- Navigation -->
<div th:insert="nav"></div>

<!-- Page Content -->
<div class="container">

    <h1 class="my-4">The Clothing Application!</h1>

    <form th:action="@{/savePerson}" th:object="${personsDto}">
        <table border="1" width="90%" align="center" cellpadding="5">
            <tr>
                <td class="fheading"  colspan="4">Clothes Form</td>
            </tr>

            <tr>
                <td>Username</td>
                <td>
                    <input type="text" th:field="*{username}"/>
                </td>
            </tr>
            <tr>
                <td>Password</td>
                <td>
                    <input type="password" th:field="*{password}"/>
                </td>
                <td>First Name</td>
                <td>
                    <input type="text" th:field="*{firstname}" />
                </td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td>
                    <input type="text" th:field="*{lastname}"/>
                </td>
                <td>Email</td>
                <td>
                    <input type="email" th:field="*{email}"/>
                </td>
            </tr>
            <tr>
                <td>Zipcode</td>
                <td>
                    <input type="text" th:field="*{zipcode}"/>
                </td>
                <td>Country Code</td>
                <td>
                    <input type="text" th:field="*{countrycode}"/>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><button class="btn btn-primary btn-sm button">Save</button></td>
                <td></td>
            </tr>

        </table>
    </form>

</div>
<!-- /.container -->

<div th:insert="footer"></div>

</body>

</html>
