<!DOCTYPE html>

<html>
    <head>
        <title>Generic Title</title>
        <meta charset="UTF-8">
        <link th:href="@{== /(insert css file name here == }" type="text/css" rel="stylesheet" />

    </head>
    <body>
        <div class="main">
            <h2 class="header" align="center">Page Name and Info Here
                <br/><span style="font-weight: normal" class="txt_small">(And some extra details)</span>
            </h2>

            <form th:action="@{/save- == Thing you save here}" th:object="${ == thing to be saved == }">
                <table border="1" width="90%" align="center" cellpadding="5">
                    <tr>
                        <td class="fheading" colspan="4">Clothing Form</td>
                    </tr>
                    <tr>
                        <td>Clothing Type</td>
                        <td colspan="3" valign="center">


                            <select id="???" th:field="*{domain.field}" >
                                <option value=""></option>
                                <option th:each="i : ${list}" th:value="${i.field}" th:text="${i.field}">
                                </option>
                            </select>

                            <a class="txt_small" th:href="@{/link}">
                                Add New
                            </a>

                        </td>                  
                    </tr>
                    <tr>
                        <td>Field</td>
                        <td><input type="text" th:field="*{domain.field}" /></td>
                        <td>Field</td>
                        <td><input type="text" th:field="*{domain.field}" /></td>
                    </tr>

                    <tr>
                        <td>Field</td>
                        <td><input type="text" th:field="*{domain.field}" /></td>
                        <td>Field</td>
                        <td><input type="text" th:field="*{domain.field}" /></td>

                    </tr>
                    <tr>
                        <td>Courses</td>
                        <td colspan="3" id="id_courses">

                        </td>                         
                    </tr>
                    <tr>                    
                        <td colspan="4" align="center">
                            <button id="id_btn_save">Save</button>
                        </td>                                        
                    </tr>

                </table>
            </form>

        </div>
    </body>
</html>
