<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your Outfits</title>
</head>
<body>
<div align="center">
    <h1>Shirts</h1>
    <a href="new">Display Person</a>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>Username</th>
                <th>Pants Color</th>
            </tr>
        </thead>
        <tbody>
        <tr th:each="person : ${list}">
            <td th:text="${person.id}">Person ID</td>
            <td th:text="${person.username}">Username</td>
            <td th:text="${person.password}">Password</td>
            <td>
                <a th:href="@{'/edit/' + ${person.id}}">Edit</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a th:href="@{'/delete/' + ${person.id}}">Delete</a>
            </td>
        </tr>
        </tbody>

    </table>
</div>
</body>
</html>