<div class="sidenav">

    <div class="mheader">
        Closet
    </div>
    <a th:href="@{/listClothes}">List All Clothes</a>
    <a th:href="@{/listClothesInTemp}">List Clothes in Temp Range</a>
    <div class="mheader">
        Clothes
    </div>


    <a th:href="@{/addClothes}">Add Clothes</a>
    <a th:href="@{listClothesInTemp}">Weather (Not implemented yet)</a>
    <div class="mheader">
        Options
    </div>
    <a th:href="@{/home}">Home</a>
    <a th:href="@{/logout}">Log Out</a>

</div>

